<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810020278226-bnao8slcqgta3q63n1k0kq3lsu34annd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810020278226-bnao8slcqgta3q63n1k0kq3lsu34annd</string>
	<key>API_KEY</key>
	<string>AIzaSyC3dqb9SSjZxCJAg8TYH8JCA5xWYYJVEvI</string>
	<key>GCM_SENDER_ID</key>
	<string>810020278226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecl.liferhythms</string>
	<key>PROJECT_ID</key>
	<string>emmanuel-rhythms-production</string>
	<key>STORAGE_BUCKET</key>
	<string>emmanuel-rhythms-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810020278226:ios:b81811adb0b444b2a4820b</string>
</dict>
</plist>